div(class = 'dropdown_count')
    div(class = 'dropdown_count__button')
        div(class="dropdown_count__input ") Сколько гостей
        div(class="material-icons dropdown_count__arrow") keyboard_arrow_down
div(class = 'dropdown_count__list')
    div(class = 'list_content')
        div(class = 'dropdown_counters')
            div(class = 'dropdown_counter')
                div(class = 'dropdown_counter__text') ВЗРОСЛЫЕ
                div(class = 'counter')
                    div(class = 'counter__sign sign_minus minus_frst disabled') -
                    div(class = 'counter__num num_frst') 0
                    div(class = 'counter__sign plus_frst sign_plus') +
            div(class = 'dropdown_counter')
                div(class = 'dropdown_counter__text') ДЕТИ
                div(class = 'counter')
                    div(class = 'counter__sign sign_minus minus_scnd disabled') -
                    div(class = 'counter__num num_scnd') 0
                    div(class = 'counter__sign plus_scnd sign_plus') +
            div(class = 'dropdown_counter')
                div(class = 'dropdown_counter__text') МЛАДЕНЦЫ
                div(class = 'counter')
                    div(class = 'counter__sign sign_minus minus_thrd disabled') -
                    div(class = 'counter__num num_thrd') 0
                    div(class = 'counter__sign plus_thrd sign_plus') +
        div(class = 'dropdown_buttons')
            button(class = 'dropdown_button clear_button' ) ОЧИСТИТЬ
            button(class = 'dropdown_button accept_button') ПРИМЕНИТЬ
        