div(class = 'navigation')
    ul(class = 'menu')
        li(class = 'menu__item')
            a(href="#")
                span(class = 'menu__item-normal') О нас
                span(class = 'menu__item-bold') О нас    
        li(class = 'menu__item') 
            a(href="#")
                span(class = 'menu__item-normal') Услуги
                    i(class="material-icons menu__item-arrow") keyboard_arrow_down
                span(class = 'menu__item-bold') Услуги
                    i(class="material-icons menu__item-arrow") keyboard_arrow_down   
        li(class = 'menu__item ') 
            a(href="#")
                span(class = 'menu__item-normal') Вакансии
                span(class = 'menu__item-bold') Вакансии
        li(class = 'menu__item ')
            a(href="#")
                span(class = 'menu__item-normal') Новости
                span(class = 'menu__item-bold') Новости
        li(class = 'menu__item')
            a(href="#")
                span(class = 'menu__item-normal') Соглашения
                    i(class="material-icons menu__item-arrow") keyboard_arrow_down
                span(class = 'menu__item-bold') Cоглашения
                    i(class="material-icons menu__item-arrow") keyboard_arrow_down