.navigation{
    font-family: 'Montserrat';
    font-size: 14px;
    margin-right: -11px;
}
.menu{
    display: flex;
    list-style:none;
    text-align:center;
    .menu__item span{
        display: flex;
        text-align: center;
        white-space: nowrap;
    }
    li{
        display: inline;
        border-left: 2px solid white;
        margin-right:8px;
        padding-left:8px;
        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            position: relative;
            .menu__item-bold{
                color: rgba(31, 32, 65, 0.75);
                opacity: 0;
                font-weight: bold;
            }
            .menu__item-normal{
                color: rgb(31, 32, 65);
                opacity: 50%;
                position: absolute;
                left:0;
                top:0;
            }
            &:hover .menu__item-bold{
                opacity: 1;
            }
            &:hover .menu__item-normal{
                opacity: 0;
            }
        }
    }
}

