header(class = 'header') 
    div(class = 'container')
        div(class = 'page-header')
            div(class = 'header__background')
            a(href = "index.pug") 
                include ../logo/logo.pug
            div(class = 'header__burger')
                span
            div(class = 'header__push')
                include menu/menu.pug
                include registration/registration.pug