div(class = 'log-form')
    div(class = 'log-form__content')
        div(class = 'log-form__text el') Войти
        div(class = 'log-form__inputs')
            input(class="log-form__input input" type="text" placeholder="Email")
            input(class="log-form__input input" type="text" placeholder="Пароль")
        a(href = '#' class = 'log-form__button button-filled el') 
            span(class='button__text') ВОЙТИ 
            span(class="material-icons arrow-forward") arrow_forward
        div(class = "log-form__create")
            span(class = "create__text") Нет аккаунта на Toxin?
            a(href = "#" class = 'create__button button-unfilled') СОЗДАТЬ