div(class = 'content-box')
    img(src="./blocks/content-box/background/background.jpg", class = "background")
    div(class = 'container')
        include search-form/search-form.pug
        div(class = 'content-box__text') Лучшие номера для вашей работы, отдыха и просто вдохновения    
            
        