.logo{
    display: flex;
    align-items: center;
    min-width: 105.7px;
    height: 40px;
    margin: 15px 0px 15px 0;
}
.logo__image{
    width: 40px;
    height: 40px;
    margin-right: 12.5px;        
}   