div(class = 'page-footer')
    div(class = 'footer-information container')
        div(class = 'footer-logo')
            include ../logo/logo.pug
            div(class = 'footer__info') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        div(class = 'footer-navigation')
            div(class = 'footer__name') НАВИГАЦИЯ
            ul(class = 'footer__nav menu')
                li(class = 'menu__item') 
                    a(href = '#')
                        span(class = 'menu__item-normal') О нас
                        span(class = 'menu__item-bold') О нас  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Новости
                        span(class = 'menu__item-bold') Новости  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Служба поддержки
                        span(class = 'menu__item-bold') Служба поддержки  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Услуги
                        span(class = 'menu__item-bold') Услуги  
        div(class = 'footer-navigation')
            div(class = 'footer__name') О НАС
            ul(class = 'footer__nav menu')
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') О сервисе
                        span(class = 'menu__item-bold') О сервисе  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Наша команда
                        span(class = 'menu__item-bold') Наша команда  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Вакансии
                        span(class = 'menu__item-bold') Вакансии  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Инвесторам
                        span(class = 'menu__item-bold') Инвесторам  
        div(class = 'footer-navigation')
            div(class = 'footer__name') СЛУЖБА ПОДДЕРЖКИ
            ul(class = 'footer__nav menu')
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Соглашения
                        span(class = 'menu__item-bold') Соглашения  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Сообщества
                        span(class = 'menu__item-bold') Сообщества  
                li(class = 'menu__item') 
                    a(href = '#') 
                        span(class = 'menu__item-normal') Связь с нами
                        span(class = 'menu__item-bold') Связь с нами  
        div(class = 'footer-sub')
            div(class = 'footer__name') ПОДПИСКА
            div(class = 'footer__info') Получайте специальные предложения и новости сервиса
            div(class = 'footer__input_email') 
                    input(class="input_email" type="text" placeholder="Email")
                    a(href = '#' class="material-icons input_email__arrow") arrow_forward
div(class = 'footer-copyright container')
    div(class = 'footer-copyright__text') Copyright © 2018 Toxin отель. Все права зачищены.
    div(class = 'footer-copyright__icons')
        a(href = '#' class="fab fa-twitter")
        a(href = '#' class="fab fa-facebook-square")
        a(href = '#' class="fab fa-instagram")
        
