div(class = 'reg interactive')
    div(class = '') 
        a(href="page-log.pug" class = 'button-unfilled reg__log-In') ВОЙТИ
    div(class = '') 
        a(href="page-reg.pug" class ='button-filled reg__sign-Up') ЗАРЕГИСТРИРОВАТЬСЯ