div(class = 'reg-content') 
    img(src="./page-log/log-content/background-log.jpg", class = "background")
    div(class = 'container')
        div(class = 'reg-content__content') 
            include ../reg-form/reg-form.pug