.button-filled{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    box-sizing: border-box;
    color:#fff;
    border: solid $border transparent; /* !importanté */
    border-radius: 22px;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient( rgba(188,156,255,1) 0%, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%, rgba(0,0,0,1) 100%);
      }
    &:hover:before{
      opacity: 0.5;
    }
}