.input{
    padding-left: 15px;
    font-family: 'Montserrat';
    font-size: 14px;
    display: flex;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    outline:none;
    &::-webkit-input-placeholder{
        color: rgba(31, 32, 65, 0.25);
    }
    &::-moz-placeholder{
        color: rgba(31, 32, 65, 0.25);
    }
}
