<!DOCTYPE html>
html(lang="en")
    head
        title Search room/filter
        meta(charser="UTF-8")
        meta(name="viewport" content="width=device-width")
    body
        include blocks/page-header/page-header.pug
        include page-search/search-content.pug
        include blocks/page-footer/page-footer.pug
        script(src = 'page-search.js')